<a href="https://colab.research.google.com/github/ajaygupta777/PW-SQL-Assignment-For-DA/blob/main/SQL_%26_Adv_Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Name : Ajay Kumar Gupta

Assignment : SQL And Advanced Functions

**Theory** **Section**

1. Explain the fundamental differences between DDL, DML, and DQL
commands in SQL. Provide one example for each type of command.
- SQL commands are categorized into three main types based on their function:

1. DDL (Data Definition Language):

- Purpose: Used to define, modify, or delete database objects like tables, indexes, and users. It deals with the schema or structure of the database.
- Examples: CREATE TABLE, ALTER TABLE, DROP TABLE, CREATE INDEX, DROP DATABASE.
- Example: CREATE TABLE Employees (EmployeeID INT PRIMARY KEY, FirstName VARCHAR(50), LastName VARCHAR(50));

2. DML (Data Manipulation Language):

- Purpose: Used to manage data within schema objects. It deals with the actual data stored in the database.
- Examples: INSERT INTO, UPDATE, DELETE FROM.
- Example: INSERT INTO Employees (EmployeeID, FirstName, LastName) VALUES (1, 'John', 'Doe');

3. DQL (Data Query Language):

- Purpose: Used for retrieving data from the database. It allows users to query and fetch information.
- Examples: SELECT.
- Example: SELECT FirstName, LastName FROM Employees WHERE EmployeeID = 1;

2.  What is the purpose of SQL constraints? Name and describe three common types
of constraints, providing a simple scenario where each would be useful.
- SQL constraints are rules enforced on data columns in a table to limit the type of data that can be inserted or updated into a table. This ensures the accuracy and reliability of the data in the database. hey can be column-level or table-level.

- Here are three common types of constraints:

1. PRIMARY KEY:

- Purpose: Uniquely identifies each record in a table. A primary key must contain unique values and cannot contain NULL values. Each table can only have one primary key.
- Scenario: In a Customers table, CustomerID would be an excellent primary key. This ensures that every customer has a unique identifier and that no two customers have the same CustomerID.
- Example: CREATE TABLE Customers (CustomerID INT PRIMARY KEY, FirstName VARCHAR(50), LastName VARCHAR(50));

2. FOREIGN KEY:

- Purpose: Establishes a link between two tables, enforcing referential integrity. It ensures that a value in one table's column (the foreign key) matches a value in another table's primary key.
- Scenario: In an Orders table, CustomerID could be a foreign key referencing the CustomerID in the Customers table. This ensures that every order is linked to an existing customer and prevents orders from being placed for non-existent customers.
- Example: CREATE TABLE Orders (OrderID INT PRIMARY KEY, OrderDate DATE, CustomerID INT, FOREIGN KEY (CustomerID) REFERENCES Customers(CustomerID));

3. NOT NULL:

- Purpose: Ensures that a column cannot have a NULL value. This means that a value must always be provided for that column when a new record is inserted or updated.
- Scenario: In an Employees table, the LastName column should probably be NOT NULL. This ensures that every employee record always has a last name, which is often crucial for identification and communication.
- Example: CREATE TABLE Employees (EmployeeID INT PRIMARY KEY, FirstName VARCHAR(50), LastName VARCHAR(50) NOT NULL);

3. Explain the difference between LIMIT and OFFSET clauses in SQL. How
would you use them together to retrieve the third page of results, assuming each page
has 10 records?
- The LIMIT and OFFSET clauses in SQL are primarily used to control the number of rows returned by a query and to specify a starting point for the retrieval.

I. LIMIT Clause:

- Purpose: The LIMIT clause is used to restrict the number of rows returned by a SELECT statement. It specifies the maximum number of rows that the query result set should contain.
- Example: SELECT * FROM Products LIMIT 5; would return only the first 5 rows from the Products table.

II. OFFSET Clause:

- Purpose: The OFFSET clause is used to skip a specified number of rows before starting to return the actual results. It defines the starting point for retrieving rows from the result set.
- Example: SELECT * FROM Products OFFSET 10; would skip the first 10 rows and return all subsequent rows.

- Using LIMIT and OFFSET together for pagination:

When used together, LIMIT and OFFSET are powerful for implementing pagination, allowing you to fetch specific 'pages' of results from a larger dataset.

To retrieve the third page of results, assuming each page has 10 records, you would use the following logic:

- Page 1: LIMIT 10 OFFSET 0 (or simply LIMIT 10)
- Page 2: LIMIT 10 OFFSET 10
- Page 3: LIMIT 10 OFFSET 20

In general, for the Nth page with M records per page, the OFFSET would be (N - 1) * M.

So, for the third page with 10 records per page, the SQL query would be:

SELECT * FROM YourTableName

LIMIT 10 OFFSET 20;

4.  What is a Common Table Expression (CTE) in SQL, and what are its main
benefits? Provide a simple SQL example demonstrating its usage.
- A Common Table Expression (CTE) in SQL is a temporary, named result set that you can reference within a single SELECT, INSERT, UPDATE, or DELETE statement. Think of it as a temporary view that only exists for the duration of one query.

- **Main Benefits of CTEs:**

1. Readability and Organization: CTEs break down complex queries into logical, more manageable, and readable steps. Each CTE can represent an intermediate result, making the entire query easier to understand and debug.

2. Reusability within a Single Query: You can reference the same CTE multiple times within the same main query, avoiding redundant code and improving efficiency (though the database optimizer determines if the CTE is truly materialized or optimized away).

3. Simplifying Complex Joins and Subqueries: CTEs can make complex joins and correlated subqueries more straightforward by pre-calculating parts of the query.

4. Enabling Recursion: CTEs are essential for performing recursive queries, such as traversing organizational hierarchies or bill of materials structures.

5. Improved Performance (sometimes): While not always a performance booster, CTEs can sometimes lead to better query plans by giving the optimizer more insight into the query's structure, especially when used to avoid re-executing subqueries.

- **Simple SQL Example Demonstrating CTE Usage:**

Let's say we have an Employees table with EmployeeID, Name, and Salary, and we want to find employees whose salary is above the average salary of all employees.

-- Without CTE

SELECT EmployeeID, Name, Salary

FROM Employees

WHERE Salary > (SELECT AVG(Salary) FROM Employees);

-- With CTE

WITH AverageSalaryCTE AS (

    SELECT AVG(Salary) AS AvgSalary
    FROM Employees
)

SELECT e.EmployeeID, e.Name, e.Salary

FROM Employees e, AverageSalaryCTE act

WHERE e.Salary > act.AvgSalary;

- In this example, AverageSalaryCTE calculates the average salary once, and then this result is used in the main SELECT statement.

5. Describe the concept of SQL Normalization and its primary goals. Briefly
explain the first three normal forms (1NF, 2NF, 3NF).
- SQL Normalization is a database design technique used to organize tables in a relational database to minimize data redundancy and improve data integrity. The primary goals of normalization are:

1. Eliminate Redundant Data: Reduce the duplication of data stored in the database, which saves storage space and prevents inconsistencies.
2. Ensure Data Integrity: Maintain the accuracy and consistency of data over its entire life cycle.
3. Improve Data Efficiency: Make data retrieval and manipulation more efficient by reducing the need to update multiple locations when data changes.
4. Simplify Database Design: Create a clear and logical structure for the database.

- Here are the first three normal forms:

I. First Normal Form (1NF): Each column contains atomic values, and each record is unique.

II. Second Normal Form (2NF): Is in 1NF, and all non-key attributes are fully functionally dependent on the primary key (no partial dependencies).

III. Third Normal Form (3NF): Is in 2NF, and there are no transitive dependencies (no non-key attribute depends on another non-key attribute).

Practical Quesstions for SQL Workbench

Thank You